.navbar{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    background-color: rgb(5, 255, 222);
}

.navbar li {
    margin-right: 20px; /* Adjust the margin as needed */
}